.Register {
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.Register_container {
  background-color: #f8f8f8;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 15px;
}

.Register_top_section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back_to_login_icon {
  cursor: pointer;
}

.Register_top_section > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding-left: 80px;
}

.Register_container > h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.Register_container > form > h5 {
  font-size: 1.1rem;
  padding-bottom: 6px;
  padding-top: 10px;
  margin-top: 8px;
}

.Register_container > form > input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

.Register_container .Auth_buttons {
  padding-top: 0.7rem;
}

.Start_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 45px;
  margin-top: 12px;
  margin-left: 0;
  color: #000;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background: rgb(148, 212, 212);
  cursor: pointer;
}

.Login_account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 45px;
  margin-top: 12px;
  margin-left: 0;
  color: #000;
  font-size: 14px;
  border: 1.6px solid #ccc;
  border-radius: 10px;
  background: #f8f8f8;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .Register_container {
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 15px;
    padding-top: 3rem;
  }

  .Register_top_section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55%;
  }

  .Register_top_section > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding-left: 120px;
  }

  .Register_container > h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .Register_container > form > h5 {
    font-size: 1.1rem;
    padding-bottom: 6px;
    padding-top: 10px;
    margin-top: 8px;
  }

  .Register_container > form > input {
    width: 98%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
  }

  .Register_container > form {
    margin-top: 25px;
  }

  ::placeholder {
    font-size: 16px;
  }

  .Register_container .Auth_buttons {
    padding-top: 2rem;
  }

  .Start_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin-top: 12px;
    margin-left: 0;
    color: #000;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background: rgb(148, 212, 212);
    cursor: pointer;
  }

  .Login_account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin-top: 12px;
    margin-left: 0;
    color: #000;
    font-size: 14px;
    border: 1.6px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    cursor: pointer;
  }
}
